<!DOCTYPE html>
<html lang="{{ site.lang | default: 'fr' }}">

  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="description" content="{{ default: site.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/comments.css">
    <link href="{{ site.baseurl }}/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/date.js"></script>
    <script type="text/javascript" src="{{ site.baseurl}}/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/w3.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/custom.js"></script>
  </head>

  <body id="body">
    <script type="text/javascript">
      if(typeof(Storage) !== "undefined") {
        if (localStorage.lightModeQS) {document.getElementById("body").className = localStorage.lightModeQS ;}
        else {document.getElementById("body").className = "light-mode" ;}}        
      else {document.getElementById("body").className = "light-mode" ;}
    </script>

    <section class="page-header">
      <div class="neon"><h1 class="project-name">Quantum Sideral</h1><br><h2 class="project-tagline">Des particules d’histoires dans <br class="respbreak"/>un multivers d’aventures</h2></div>

        <div class="page-header-menu">
          <div class="divbreak">
            <a href="{{ site.baseurl }}{% link index.md %}"><button class="border">Accueil</button></a>
            <button type="button" class="dropdown-off" id="dropdownButton" onclick="toggleMenu()" title="Toggle menu">Histoires</button>
            <script type="text/javascript">
              function toggleMenu() {
                var dropdownMenu = document.getElementById("dropdownMenu");
                var currentClassStory = dropdownMenu.className;
                dropdownMenu.className = currentClassStory == "dropdown-hide" ? "dropdown-show" : "dropdown-hide";

                var dropdownButton = document.getElementById("dropdownButton");
                var currentClassStory = dropdownButton.className;
                dropdownButton.className = currentClassStory == "dropdown-off" ? "dropdown-on" : "dropdown-off";}
            </script>
          </div>
          <div class="divbreak">
            <a href="{{ site.baseurl }}{% link license.md %}#main-content"><button class="border">Licences</button></a>
            <a href="{{ site.baseurl }}{% link about.md %}#main-content"><button class="border">A propos</button></a>
          </div>
          <div class="divbreak">
            <a href="{{ site.baseurl }}{% link suggestions.md %}#main-content"><button class="border">Contact</button></a>
            <a href="{{ site.baseurl }}{% link feed.xml %}"><button class="border">RSS</button></a>
          </div>
          <div class="divbreak">
            <a href="https://quantumsideral.github.io/la-croisee-des-chemins/"><button class="border">La croisee des chemins</button></a>
          </div>
          <div class="divbreak">
            <button type="button" id="darkLight" onclick="toggleDarkLight()">Dark mode</button>
            <script type="text/javascript">
              if(typeof(Storage) !== "undefined") {
                if (localStorage.buttonLightModeQS) {document.getElementById("darkLight").className = localStorage.buttonLightModeQS ;}
                else {document.getElementById("darkLight").className = "border" ;}}
              else {document.getElementById("darkLight").className = "border" ;}

              function toggleDarkLight() {
                var body = document.getElementById("body");
                var currentClass = body.className;
                body.className = currentClass == "dark-mode" ? "light-mode" : "dark-mode";
                localStorage.setItem("lightModeQS", body.className);

                var button = document.getElementById("darkLight");
                var currentClassButton = button.className;
                button.className = currentClassButton == "border" ? "border-dark" : "border";
                localStorage.setItem("buttonLightModeQS", button.className);}
            </script>
          </div>
      </div>
      <div class="dropdown-hide" id="dropdownMenu">
        <div class="divbreak">
          <a href="{% for post in site.categories.Histoires limit:1 %}{{ post.url }}{% endfor %}"><button class="border">Derniere histoire</button></a>
        </div>
        <div class="divbreakDD">
          <button type="button" class="dropdown-off" id="dropdownButtonSF" onclick="toggleListMenu('dropdownMenuSF','dropdownButtonSF')" title="Toggle menu"></button>
          <div id="dropdownMenuSF" class="dropdown-list-hide">
            <ul>
              {% for post in site.categories.SF %}
                <li><a href="{{ post.url }}" class="dropdown-sublist" >{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="divbreakDD">
          <button type="button" class="dropdown-off" id="dropdownButtonFantasy" onclick="toggleListMenu('dropdownMenuFantasy','dropdownButtonFantasy')" title="Toggle menu">Fantasy</button>
          <div id="dropdownMenuFantasy" class="dropdown-list-hide">
            <ul>
              {% for post in site.categories.Fantasy %}
                <li><a href="{{ post.url }}" class="dropdown-sublist" >{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="divbreakDD">
          <button type="button" class="dropdown-off" id="dropdownButtonFantastique" onclick="toggleListMenu('dropdownMenuFantastique','dropdownButtonFantastique')" title="Toggle menu">Fantastique</button>
          <div id="dropdownMenuFantastique" class="dropdown-list-hide">
            <ul>
              {% for post in site.categories.Fantastique %}
                <li><a href="{{ post.url }}" class="dropdown-sublist" >{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="divbreak">
          <a href="{{ site.baseurl }}{% link all.md %}#main-content"><button class="border">Toutes les histoires</button></a>
        </div>

        <script type="text/javascript">
          function toggleListMenu(idMenu,idButton) {
            var dropdownMenu = document.getElementById(idMenu);
            var currentClassDD = dropdownMenu.className;
            dropdownMenu.className = currentClassDD == "dropdown-list-hide" ? "dropdown-list-show" : "dropdown-list-hide";

            var dropdownButton = document.getElementById(idButton);
            var currentClassDD = dropdownButton.className;
            dropdownButton.className = currentClassDD == "dropdown-off" ? "dropdown-on" : "dropdown-off";}
        </script>
      </div>

    </section>
    <section class="main-content">{{ content }} 

      {% if page.commentIssueId %}
        <footer class="site-footer">
          <span class="site-footer-credits"><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></span>
        </footer><br><br>

      
        <div id="comments">
          <h1>Commentaires</h1>
          <div id="header">
            Vous souhaitez commenter cette histoire ? Allez sur <a href="https://github.com/quantumsideral/la-croisee-des-chemins/issues/{{ page.commentIssueId }}"> le fil de commentaires de ce post sur GitHub</a> ! (Vous allez avoir besoin d’un compte Github.)<br><br>
          </div>
        </div>
        <script type="text/javascript">fireComments();</script>
      {% endif %}
    </section>
  </body>
</html>

